<p-floatlabel [variant]="variant">
  <p-multiselect
    [size]="size"
    [options]="dataSource"
    [formControl]="control"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    [showClear]="showClear"
    [maxSelectedLabels]="maxSelectedLabels"
    [display]="displayMode"
    [filter]="filter"
    [disabled]="esDisable"
    (onChange)="onChange()"
    [ngClass]="{
      'p-filled': control.value !== null && control.value !== undefined && control.value !== '',
      'p-invalid': control.invalid && control.touched
    }"
  >
    <!-- Opciones de la lista -->
    <ng-template let-option pTemplate="item">
      <div
        class="flex items-center gap-2"
      >
        @if (option.deleted) {
          <i class="fa-solid fa-ban text-red-500 opacity-70"></i>
        } @else if (!option.active){
          <i class="fa-solid fa-ban text-yellow-600"></i>
        }
        <span [ngClass]="{
          'text-gray-400 opacity-60 line-through': option.deleted,
          'text-yellow-600 opacity-70': !option.active
        }">{{ option[optionLabel] }}</span>
      </div>
    </ng-template>

  </p-multiselect>
  <label [for]="optionLabel">{{ placeholder }}</label>
</p-floatlabel>

<!-- Mensajes de error -->
@if (control.errors && control.touched) {
  <p-message
    class="xs-error-message"
    severity="error"
    size="small"
    variant="simple">
    {{ control.errors![objectFn.keys(control.errors!)[0]] }}
  </p-message>
}
