<!-- <nav class="xs-main-header sticky top-0" [ngClass]="isSidebarExpanded ? 'header-expanded' : ''">
  <div class="flex flex-wrap justify-content-between">
    <div class="flex align-items-center">
      <img src="assets/images/logos/logo-blanco.svg" width="135px" alt="">
    </div>
    <div class="flex align-items-center">
      <a routerLink="/inicio" class="p-button p-button-rounded p-button-primary p-button-outlined hidden sm:block mr-1">
        <i class="pi pi-home"></i>
        <span class="ml-2">Ir al portal</span>
      </a>
      <span class="xs-user-text hidden sm:block">{{ login.name }}</span>
    </div>
  </div>
</nav> -->

<xs-main-header></xs-main-header>
<section class="xs-main-section">
  <aside #xsMainSidebar class="xs-main-sidebar">
    <div class="flex m-2 ml-3" [ngClass]="isSidebarExpanded ? 'justify-content-end' : 'justify-content-center'">
      <xs-button icon="pi pi-arrow-right" (click)="expandSidebar()" *ngIf="!isSidebarExpanded">
      </xs-button>
      <xs-button icon="pi pi-arrow-left" (click)="contraerSidebar()" *ngIf="isSidebarExpanded">
      </xs-button>
    </div>
    <div *ngFor="let item of gruposPlugin">
      <div class="xs-group p-panelmenu p-component my-2" *ngIf="item.label && item.plugins!.length > 0"
        style="border-bottom: solid 1px #fff;" (click)="onClickGrupo(item)">
        <div class="p-panelmenu-panel">
          <div class="p-element p-component p-panelmenu-header">
            <a class="p-panelmenu-header-link cursor-pointer">
              <span class="p-menuitem-icon pi uppercase font-bold"
                [ngClass]="item.isExpanded ? 'pi-angle-double-down' : 'pi-angle-double-right'"></span>
              <span class="p-menuitem-text uppercase font-bold text-sm">{{ item.label }}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="p-panelmenu" [ngClass]="!item.isExpanded ? 'hide-options' : ''">
        <div class="p-panelmenu p-component" *ngFor="let item of item.plugins!">
          <div class="p-panelmenu-panel">
            <div class="p-element p-component p-panelmenu-header">
              <a class="p-panelmenu-header-link" [routerLink]="item.routerLink!" routerLinkActive="p-menuitem-link-active">
                <span class="p-menuitem-icon">
                  I
                </span>
                <span class="p-menuitem-text uppercase font-bold text-sm">{{ item.label }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-panelmenu p-component" (click)="logout()">
      <div class="p-panelmenu-panel">
        <div class="p-element p-component p-panelmenu-header">
          <a class="p-panelmenu-header-link">
            <span class="p-menuitem-icon pi pi-sign-out uppercase"></span>
            <span class="p-menuitem-text uppercase font-bold text-sm">Cerrar sesión</span>
          </a>
        </div>
      </div>
    </div>
  </aside>
  <div #xsMainContent role="main" class="xs-main-content">
    <router-outlet></router-outlet>
  </div>
</section>
