<p-floatlabel [variant]="variant">
  <p-select
    [size]="size"
    [options]="dataSource"
    [formControl]="control"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    (onChange)="onChange($event)"
    [showClear]="showClear"
    [filter]="filter"
    [filterBy]="filterBy"
    [ngClass]="{
      'p-filled': control.value !== null && control.value !== undefined && control.value !== '',
      'p-invalid': control.invalid && control.touched
    }"
  />
  <label [for]="optionLabel">{{placeholder}}</label>
</p-floatlabel>


@if (control.errors && control.touched) {
  <p-message
    class="xs-error-message"
    severity="error"
    size="small"
    variant="simple">
    {{ control.errors![objectFn.keys(control.errors!)[0]] }}
  </p-message>
}
