<div class="flex flex-col gap-2 w-full">
  <!-- Contenedor principal -->
  <div
    class="flex items-center gap-2 border rounded-md px-3 py-2
           bg-white dark:bg-[#09090b] border-gray-300 dark:border-gray-600
            transition-colors">

    <!-- Input real oculto -->
    <input
      type="file"
      class="hidden"
      [accept]="accept"
      [disabled]="disabled"
      [id]="id"
      #fileInput
      (change)="onFileSelected($event)" />

    <!-- Botón seleccionar -->
    <xs-button
      variant="outlined"
      severity="info"
      icon="fa-solid fa-upload"
      (click)="fileInput.click()"
      [disabled]="disabled">
    </xs-button>

    <!-- Nombre del archivo -->
    <span
      class="flex-1 text-sm truncate text-gray-700 dark:text-gray-300"
      [class.italic]="!fileName">
      {{ fileName || placeholder }}
    </span>

    <!-- Botón descargar -->
    @if (fileName && !file){
      <xs-button
        icon="fa-solid fa-download"
        severity="success"
        variant="outlined"
        (click)="downloadFile()">
      </xs-button>
    }


    <!-- Botón limpiar -->
    @if (file){
      <xs-button
        icon="fa-solid fa-xmark"
        variant="outlined"
        severity="danger"
        (click)="clearFile()">
      </xs-button>
    }

  </div>
</div>

<!-- Mensaje de error -->
@if (control.errors && control.touched) {
  <p-message
    class="xs-error-message mt-1"
    severity="error"
    size="small"
    variant="simple">
    {{ control.errors![objectFn.keys(control.errors!)[0]] }}
  </p-message>
}
