@use "tailwindcss";

//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

.full-width,
.full-width > button {
  width: 100% !important;
}

p-floatlabel {
  display: block;
  margin-bottom: 0.25rem !important;
}

/* Solo para el loader dialog */
.p-dialog.xs-loader {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
