

@if (allowFloatLabel) {
  <p-floatlabel [variant]="variant">
    <p-password  [inputId]="inputId" [formControl]="control" [toggleMask]="toggleTask" [size]="size"
    [feedback]="feedback"
    [ngClass]="{
      'p-filled': control.value !== null && control.value !== undefined && control.value !== ''
    }"
    [invalid]="control.invalid && control.touched" />
    <label [for]="inputId">{{ placeholder }}</label>
    @if (control.errors && control.touched) {
      <p-message severity="error" size="small" variant="simple">{{control.errors![objectFn.keys(control.errors!)[0]] }}</p-message>
    }
</p-floatlabel>

}@else {
    
    <p-password  [inputId]="inputId" [formControl]="control" [toggleMask]="toggleTask" [size]="size" [placeholder]="placeholder"
    [feedback]="feedback"
    [invalid]="control.invalid && control.touched" />
    @if (control.errors && control.touched) {
      <p-message severity="error" size="small" variant="simple">{{control.errors![objectFn.keys(control.errors!)[0]] }}</p-message>
    }
}

